.deleteBtn {
    font-size: .6rem;
    line-height: 1;
    color: rgb(20, 33, 61);
    border: none;
    width: 2.45rem;
    height: 2.45rem;
    background: rgb(243, 123, 123);
    border-radius: 10px;
}

.deleteBtn:hover {
    cursor: pointer;
}