.ui-error-msg {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 2rem;
    span {
        font-weight: 700;
    }    
}

.error-image {
    text-align: center;
    margin-top: 4rem;
    svg {
        width: 20rem;
        height: auto;
    }
    
}