

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.family {
    border-top: 5px solid red;
    border-left: 5px solid red;

    input {
        border-bottom: 3px solid red;
    }
}

.work {
    border-top: 5px solid rgb(13, 236, 236);
    border-left: 5px solid rgb(13, 236, 236);

    input {
    border-bottom: 3px solid rgb(13, 236, 236);
    }
}

.shopping {
    border-top: 5px solid rgb(243, 7, 231);
    border-left: 5px solid rgb(243, 7, 231);

    input {
        border-bottom: 3px solid rgb(243, 7, 231);
    }
}
.completed {
    color: green;
    font-weight: 400;
}
.social {
    border-top: 5px solid rgb(15, 250, 6);
    border-left: 5px solid rgb(15, 250, 6);

    input {
        border-bottom: 3px solid rgb(15, 250, 6);
    }
}

.relax {
    border-top: 5px solid rgb(255, 136, 0);
    border-left: 5px solid rgb(255, 136, 0);

    input {
        border-bottom: 3px solid rgb(255, 136, 0);
    }
}
.ui-list {
    margin: 2rem 1rem 1rem;
    padding: 1rem 2rem;
    background-color: rgb(6, 7, 10);
    border-radius: 8px;
   
    color: rgb(6, 7, 10);

    li {
        margin: 1rem 0;
        padding: 1rem;
        background-color: rgb(250,250,250);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    li p {
        font-size: 1rem;
    }
    
    input {
        border: none;
        background: #fff;
        font-weight: 900;
        font-size: 2rem;
        color: rgb(11, 87, 240);
        width: 100%;
    }
}